<title> Matteo baiguera contacts </title>
<!-- <link rel="stylesheet"  type="text/css" href="./theme.css"> -->
<!-- <link rel="stylesheet"  type="text/css" href="./theme3.css">  -->

<!-- <link rel="stylesheet"  type="text/css" href="./fonts/stylesheet.css"> -->
<head>
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

<link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">

    <link rel="stylesheet"  type="text/css" href="{{url_for('static',filename='CSS/styleSITE.css')}}">


</head>

<style>
.center {
  margin: auto; !important
  position: relative;!important
  margin-top: 500px!important
  margin-left: 500px!important
 }

.centerBlock {
  display: table;
  margin: auto;
  margin-top: 50px!important
}

</style>

<body>

        <div id="page" class="container">



            <div class="col-sm-12">
 <div  class="centerBlock">
                <ul id="menu2">
                                        <li> <a href="#">Tel: 0039-3280269059 </a></li>
                                        <li><a href="#"> mail: matteob.86@gmail.com</a></li>

                                </ul>

            </div>
            </div>


<p>
        <div  class="centerBlock">
            <div class="row">

            <form style >
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="text_to_me">Leave me a message:</label>
    <textarea class="form-control" id="text_to_me" rows="3"></textarea>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
            </form>
</div>

            </div>




<ul id="menu">
                                        <li> <a href="/"> <--back </a></li>
                                </ul>



        </p>
            </div>




 <div id="footer" >
                            <div class="centerBlockFooter">
                                <br>
                            <div class="row">

                                    <div class="col-sm-4">
                        <h3> see yoou soon</h3>
                                        </div>


                                <div class="col-sm-4">
                                                   <h4>&copy; Matteo Baiguera  </h4>
                                                </div>


                                <div class="col-sm-4">
                        <h3> Thanks to: </h3><img src="{{url_for('static',filename='img/Logo_Reply.png')}}" height="40px">
                                        </div>
                            <!--
                                        <div class="col-sm-6">
                                                <h3> Powered by Me </h3>
                                        </div>
                                        -->


 </div>
                            </div>
 </div>



</body>

